<!-- <app-nav></app-nav> -->

<div class="msg-b4-form">
    <h1 class="dear-inv">Dear invited,</h1>
    <h1 class="dear-inv">We will appreciate if you confirm your presence</h1>
    <p class="we-are-happy">
    We are very happy that you have the intention to come! Please fill the form
    below in order to help us plan the best way to organize our event.
    </p>
</div>

<ng-container *ngIf="showForm1 === true">
<form [formGroup]="registrationForm" (ngSubmit)="saveData()">
    <!-- Name -->
    <span><mat-icon>person</mat-icon></span>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="name" #name />
    </mat-form-field>
    <!-- Phone Number -->
    <mat-icon>phone</mat-icon>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone Number" formControlName="telephone" #telephone/>
    </mat-form-field>
    <!-- Email -->
    <mat-icon>email</mat-icon>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" #email/>
    </mat-form-field>
    <!-- Gender -->
    <div class="misc-bottom-padding">
        <mat-label>Gender:</mat-label>
        <mat-radio-group aria-label="" formControlName="gender" #gender>
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
    </div>
    <!-- comingWithOthers -->
    <mat-form-field>
        <mat-label>Who is coming with you?</mat-label>
        <mat-select [(ngModel)]="selectedOption" formControlName="comingWithOthers" (selectionChange)="controlHowManyColleagesField()">
            <mat-option [value]="cominAlone" *ngFor="let cominAlone of comingAlone">{{cominAlone}}
            </mat-option>
        </mat-select>
    </mat-form-field> 
    <!-- How many colleagues? -->
    <ng-container *ngIf="showHowManyColleagues === true">
        <mat-form-field class="example-full-width" [ngClass]="displayInputField">
            <input matInput placeholder="How many colleagues?" formControlName="howMany" />
        </mat-form-field>
    </ng-container>
    <!-- The buttons -->
        <div>May we count on you?</div>
        <!-- <mat-icon>far fa-thumbs-up</mat-icon> -->
        <button mat-raised-button type="button" (click)="processYesChoice()">Yes</button>
        <!-- <mat-icon>far fa-thumbs-down</mat-icon> -->
        <button mat-raised-button type="button" (click)="processNoChoice()">No</button>

    <!-- HIDE THESE FIELDS -->
    <!-- <mat-form-field class="example-full-width">
        <input matInput formControlName="countOnYouYes" [value]="countOnYouYes" />
    </mat-form-field>
    
    <input type="text" formControlName="countOnYouYes" [value]="countOnYouYes" />
    <input type="text" formControlName="countOnYouNo" value={{countOnYouNo}} /> -->
    <!-- SUBMIT BUTTON -->
    <button mat-raised-button class="subRegForm" type="submit">Submit Response</button>
    
</form>
</ng-container>

<ng-container *ngIf="showForm2 === true">
<form [formGroup]="registrationForm2" (ngSubmit)="saveData()">
    <!-- Name -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <!-- Phone Number -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone Number" formControlName="telephone" />
    </mat-form-field>
    <!-- Email -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
    <!-- Gender -->
    <div class="misc-bottom-padding">
        <mat-label>Gender:</mat-label>
        <mat-radio-group aria-label="" formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
    </div>
    <!-- comingWithOthers -->
    <ng-container *ngIf="showWhoIsComingWithYou === true">
        <mat-form-field>
            <mat-label>Who is coming with you?</mat-label>
            <mat-select [(ngModel)]="selectedOption" formControlName="comingWithOthers">
                <mat-option [value]="cominAlone" *ngFor="let cominAlone of comingAlone">
					{{cominAlone}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <!-- The buttons -->
    <div>May we count on you?</div>
    <button mat-raised-button type="button" (click)="processYesChoice()">Yes</button>
    <button mat-raised-button type="button" (click)="processNoChoice()">No</button>
    <!-- HIDE THESE FIELDS -->
    <!-- <mat-form-field class="example-full-width">
        <input matInput formControlName="countOnYouYes" [value]="countOnYouYes" />
    </mat-form-field>
    
    <input type="text" formControlName="countOnYouYes" [value]="countOnYouYes" />
    <input type="text" formControlName="countOnYouNo" value={{countOnYouNo}} /> -->
    <!-- SUBMIT BUTTON -->
    <button mat-raised-button class="subRegForm" type="submit">Submit Response</button>

</form>

</ng-container>


   




