<div
  class="bg-image parent"
  style="
    background-image: url('../assets/background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
  "
></div>

<div
  class="bg-image2 child"
  style="
    background-image: url('../assets/bottom-2022.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    text-align: center;
    position: absolute;
    top: 63px;
    width: 100%;
    
    
  "
  *ngIf="event"
>
  <h1 class="title-big">{{ event.title }}</h1>
  <img src="{{ event.logo }}" width="110px" height="120px" />
  <h1 class="title-big comp-name">{{ event.companyName }}</h1>
  <p class="tagline">{{ event.tagline }}</p>
  <p class="message">{{ event.message }}</p>
  <p class="message">{{ event.messageContd }}</p>
  <div class="grid-container">
    <div class="grid-item">{{ event.dayOfWeek }}</div>
    <div class="grid-item grid-container-2">
      <div class="grid-item-2 evt-month">{{ event.month }}</div>
      <div class="grid-item-2 evt-day">{{ event.day }}</div>
    </div>
    <div class="grid-item last-grid">{{ event.timePeriod }}</div>
  </div>

  <a routerLink="/register"
    ><button mat-raised-button color="primary">{{ event.action }}</button></a
  >
</div>
