<div
  class="bg-image parent"
></div>

<div
  class="bg-image2 child"
  *ngIf="event"
>
  <h1 class="title-big">{{ event.title }}</h1>
  <img src="{{ event.logo }}" width="110px" height="120px" />
  <h1 class="title-big comp-name">{{ event.companyName }}</h1>
  <p class="tagline">{{ event.tagline }}</p>
  <p class="message">{{ event.message }}</p>
  <p class="message">{{ event.messageContd }}</p>
  <div class="grid-container">
    <div class="grid-item">{{ event.dayOfWeek }}</div>
    <div class="grid-item grid-container-2">
      <div class="grid-item-2 evt-month">{{ event.month }}</div>
      <div class="grid-item-2 evt-day">{{ event.day }}</div>
    </div>
    <div class="grid-item last-grid">{{ event.timePeriod }}</div>
  </div>

  <a routerLink="/register"
    ><button mat-raised-button color="primary" class="accept-reject">{{ event.action }}</button></a
  >
</div>
